fieldset{
    width:auto;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

@media (max-width: 768px) {
    /* Styles for tablet */
    .main-content {
        background-color: #a0dfe8;
        
    }
}

@media (max-width: 480px) {
    /* Styles for tablet */
    .main-content {
        background-color: #042a30;
    }
}

/* Container for sidebar and main content */
.container {
    display: flex;         /* Use Flexbox */
    height: 100vh;         /* Full viewport height */
    position:fixed;
    
}

/* Sidebar styles */
.sidebar {
    width: 250px;          /* Fixed width for sidebar */
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

/* Sidebar links */
.sidebar a {
    color: white;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Main content styles */
.main-content {
    flex: 1;               /* Take up remaining space */
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}
.spaced{
    margin-right: 5px;
}
#lname{
    margin-left: 20px;
}